/**
 * Uses Bootstrap as a base theme - the CSS below extends and in some cases overrides that base
 * More information: http://twitter.github.com/bootstrap/
 **/


/* Layout
   ========================================================================== */

body { 
    background-color: #fafafa;
}

header {
    padding: 2em 0;
    width: 100%;
}

.span9 {
    margin: 0 auto;
    float: none;
}

article {
    padding: 2em 0 1em;
    border-top: 1px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
    margin: 1em auto 1em auto;
    display: block;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
}

img.align-left {
    float: left;
    margin: 1em 1em 1em 0;
}

img.align-right {
    float: right;
    margin: 1em 0 1em 1em;
}

#paginator {
    padding: 1em 0;
    border-top: 1px solid #ccc;
}

#paginator-l {
    float: left;
}

#paginator-r {
    float: right;
}

footer {
    text-align: center;
    padding: 2em 0 1em;
    border-top: 1px solid #ccc;
}


/* Links
   ========================================================================== */

a {
    color: #333;
    text-decoration: none;
    border-bottom: 1px dashed #999;
}

a:hover {
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #999;
}

header a,
header a:hover {
    border: 0;
}


/* Typography
   ========================================================================== */

body { 
    font-family: "Average", serif;
    font-size: 18px;
    line-height: 1.618; /* golden ratio */
}

h1,
h2,
h3,
h4 {
    font-family: "Ovo", serif;
    text-align: center;
}

h1 {
    font-size: 1.927em; /* 35px (one and a half golden ratio) */
    line-height: 1.2;
    margin: 0 0 .514em 0;
}

h2 {
    font-size: 1.618em; /* 30px (one golden ratio) */
    line-height: 1.3;
    margin: 0 0 .6em 0;
}

h3 {
    font-size: 1.309em; /* 24px (half golden ratio) */
    line-height: 1.4;
    margin: 0 0 .75em 0;
}

h4 {
    font-size: 1.155em; /* 21px (quarter golden ratio) */
    line-height: 1.5;
    margin: 0 0 .857em 0;
}

h5 {
    font-size: 1em; /* 18px */
    line-height: 1.618; /* golden ratio */
    margin: 0 0 1em 0;
}

h6 {
    font-size: 1em; /* 18px */
    line-height: 1.618; /* golden ratio */
    margin: 0 0 1em 0;
}

header h1,
header h4 {
    margin: 0;
    text-transform: uppercase;
}

p {
    margin: 0 0 1em 0;
}

blockquote {
    font-size: 1.155em; /* 21px (quarter golden ratio) */
    line-height: 1.5;
    font-family: "Ovo", serif;
    font-style: italic;
    margin: 0 0 .9em 0;
}

/* override Bootstrap */
blockquote p {
    font-size: 1em;
    line-height: 1.5;
}

cite {
    font-style: italic;
}

/* address styling not present in Safari5 and Chrome */
dfn {
    font-style: italic;
}

/* address styling not present in IE8-9, Safari5, Chrome */
abbr[title],
dfn[title] {
    border-bottom: dotted 1px #999;
    cursor: help;
}

mark {
    color: #333;
    background-color: #e2e2e2;
}

code,
pre,
kbd {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 14px;
    line-height: 1.618;
}

pre {
    overflow-x: auto;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    margin: 0 0 1em 0;
    tab-size: 4; /* set tab size to 4 spaces */
}

address {
    line-height: 1.618; /* golden ratio */
    margin: 0 0 1em 0;
}

figcaption,
tfoot,
small,
.footnote {
    font-size: 14px;
    line-height: 1.618;
}

/* override Bootstrap */
p small {
    font-size: 14px;
    line-height: 1.618;
    color: #333;
}


/* Lists
 ========================================================================== */

/* address paddings set differently */
menu,
ol,
ul {
    margin: 0 0 1em 0;;
    padding: 0 0 0 2em;
}

/* remove margins from nested lists */
ul ul,
ol ol,
dl dl {
    margin: 0;
}

li,
dt,
dd {
    line-height: 1.618; /* golden ratio */
}

dd {
    margin: 0 0 0 2em;
}

dt {
    font-style: italic;
}


/* Tables
   ========================================================================== */

/* consistent tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1em;
}

caption {
    font-style: italic;
    text-align: left;
    margin-bottom: .5em;
}

/* make table cells align top and left by default */
th,
td {
    vertical-align: top;
    text-align: left;
    border-bottom: solid 1px #ccc;
    padding: .333em .333em .333em 0;
}

th:last-child,
td:last-child {
    padding-right: 0;
}

thead th,
thead td {
    border-bottom: solid 2px #ccc;
}

tfoot th,
tfoot td {
    border-bottom: 0;
    padding: .462em .462em .462em 0;
}

tfoot:last-child {
    padding-right: 0;
}


/* Google Code Prettify
========================================================================== */

/* markup colouring */

.atn,
.dec,
.typ,
.var {
    color: teal;
}

.atv,
.str {
    color: #d14;
}

.clo,
.opn,
.pun {
    color: #93a1a1;
}

.com {
    color: #93a1a1;
}

.fun {
    color: #dc322f;
}

.kwd {
    color: #1e347b;
}

.lit {
    color: #195f91;
}

.pln {
    color: #48484c;
}

.tag {
    color: #1e347b;
}

/* Google Code Prettify - line number colouring */

.linenums {
    padding-left: 2em;
}

.linenums ol {
    margin: 0;
    -webkit-box-shadow: inset 1.9375em 0px 0px #f6f6f6, inset 2em 0px 0px #e3e3e3;
    box-shadow: inset 1.9375em 0px 0px #f6f6f6, inset 2em 0px 0px #e3e3e3;
}

.linenums li {
    padding-left: 1em;
    color: #b8b8b8;
}


/* Slide-out drawer
   ========================================================================== */

#drawer {
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 9;
    display: none;
    border: 1px solid #3b3b3b;
    -webkit-border-radius: 0 1em 1em 0;
    -moz-border-radius: 0 1em 1em 0;
    border-radius: 0 1em 1em 0;
    padding: 1em 1em 1px 6em;
    width: 330px;
    height: auto;
    color: #fafafa;
    background: #141414;
}

#drawer h3 {
}

#drawer p {
    margin: 0 0 15px 0;
    padding: 0;
}

#drawer a {
    color: #fafafa;
    border-color: #fafafa;
}

#drawer a:hover {
    color: #fafafa;
}

#drawer-trigger {
    position: absolute;
    top: 2em;
    left: 0;
    z-index: 10;
    display: block;
    border: 0;
    -webkit-border-radius: 0 1em 1em 0;
    -moz-border-radius: 0 1em 1em 0;
    border-radius: 0 1em 1em 0;
    padding: 1em;
    font-family: "Ovo", serif;
    font-weight: bold;
    color: #fafafa;
    background: #141414;
}

#drawer-trigger:hover {
    padding-left: 1.5em;
    color: #fafafa;
    background: #595959;
}

#drawer-trigger[aria-pressed="true"] {
    background: #595959;
}
